.root {
  /*! Palette */
  -md-source: #6750A4;
  -md-ref-palette-primary0: #000000;
  -md-ref-palette-primary4: #13003A;
  -md-ref-palette-primary5: #15033D;
  -md-ref-palette-primary6: #18053F;
  -md-ref-palette-primary10: #201047;
  -md-ref-palette-primary12: #24144B;
  -md-ref-palette-primary15: #2B1B52;
  -md-ref-palette-primary17: #2F2056;
  -md-ref-palette-primary20: #36275D;
  -md-ref-palette-primary24: #3F3067;
  -md-ref-palette-primary25: #413269;
  -md-ref-palette-primary30: #4D3D75;
  -md-ref-palette-primary35: #594982;
  -md-ref-palette-primary40: #65558F;
  -md-ref-palette-primary50: #7E6EA9;
  -md-ref-palette-primary60: #9887C5;
  -md-ref-palette-primary70: #B3A2E1;
  -md-ref-palette-primary80: #CFBDFE;
  -md-ref-palette-primary87: #E1D3FF;
  -md-ref-palette-primary90: #E9DDFF;
  -md-ref-palette-primary92: #EEE4FF;
  -md-ref-palette-primary94: #F3EAFF;
  -md-ref-palette-primary95: #F6EEFF;
  -md-ref-palette-primary96: #F8F1FF;
  -md-ref-palette-primary98: #FDF7FF;
  -md-ref-palette-primary99: #FFFBFF;
  -md-ref-palette-primary100: #FFFFFF;
  -md-ref-palette-secondary0: #000000;
  -md-ref-palette-secondary4: #100B1D;
  -md-ref-palette-secondary5: #130E20;
  -md-ref-palette-secondary6: #151022;
  -md-ref-palette-secondary10: #1E192B;
  -md-ref-palette-secondary12: #221D2F;
  -md-ref-palette-secondary15: #282336;
  -md-ref-palette-secondary17: #2C273A;
  -md-ref-palette-secondary20: #332D41;
  -md-ref-palette-secondary24: #3C364A;
  -md-ref-palette-secondary25: #3E384C;
  -md-ref-palette-secondary30: #4A4458;
  -md-ref-palette-secondary35: #564F64;
  -md-ref-palette-secondary40: #625B71;
  -md-ref-palette-secondary50: #7B748A;
  -md-ref-palette-secondary60: #958DA4;
  -md-ref-palette-secondary70: #B0A7C0;
  -md-ref-palette-secondary80: #CBC2DB;
  -md-ref-palette-secondary87: #DFD6EF;
  -md-ref-palette-secondary90: #E8DEF8;
  -md-ref-palette-secondary92: #EEE4FE;
  -md-ref-palette-secondary94: #F3EAFF;
  -md-ref-palette-secondary95: #F6EEFF;
  -md-ref-palette-secondary96: #F8F1FF;
  -md-ref-palette-secondary98: #FDF7FF;
  -md-ref-palette-secondary99: #FFFBFF;
  -md-ref-palette-secondary100: #FFFFFF;
  -md-ref-palette-tertiary0: #000000;
  -md-ref-palette-tertiary4: #210410;
  -md-ref-palette-tertiary5: #240612;
  -md-ref-palette-tertiary6: #270815;
  -md-ref-palette-tertiary10: #31101D;
  -md-ref-palette-tertiary12: #361421;
  -md-ref-palette-tertiary15: #3D1B27;
  -md-ref-palette-tertiary17: #421F2C;
  -md-ref-palette-tertiary20: #4A2532;
  -md-ref-palette-tertiary24: #542E3B;
  -md-ref-palette-tertiary25: #56303D;
  -md-ref-palette-tertiary30: #633B48;
  -md-ref-palette-tertiary35: #704654;
  -md-ref-palette-tertiary40: #7E5260;
  -md-ref-palette-tertiary50: #996A79;
  -md-ref-palette-tertiary60: #B58392;
  -md-ref-palette-tertiary70: #D29DAD;
  -md-ref-palette-tertiary80: #EFB8C8;
  -md-ref-palette-tertiary87: #FFCDDB;
  -md-ref-palette-tertiary90: #FFD9E3;
  -md-ref-palette-tertiary92: #FFE1E8;
  -md-ref-palette-tertiary94: #FFE8ED;
  -md-ref-palette-tertiary95: #FFECF0;
  -md-ref-palette-tertiary96: #FFF0F2;
  -md-ref-palette-tertiary98: #FFF8F8;
  -md-ref-palette-tertiary99: #FFFBFF;
  -md-ref-palette-tertiary100: #FFFFFF;
  -md-ref-palette-error0: #000000;
  -md-ref-palette-error4: #280001;
  -md-ref-palette-error5: #2D0001;
  -md-ref-palette-error6: #310001;
  -md-ref-palette-error10: #410002;
  -md-ref-palette-error12: #490002;
  -md-ref-palette-error15: #540003;
  -md-ref-palette-error17: #5C0004;
  -md-ref-palette-error20: #690005;
  -md-ref-palette-error24: #790006;
  -md-ref-palette-error25: #7E0007;
  -md-ref-palette-error30: #93000A;
  -md-ref-palette-error35: #A80710;
  -md-ref-palette-error40: #BA1A1A;
  -md-ref-palette-error50: #DE3730;
  -md-ref-palette-error60: #FF5449;
  -md-ref-palette-error70: #FF897D;
  -md-ref-palette-error80: #FFB4AB;
  -md-ref-palette-error87: #FFCFC9;
  -md-ref-palette-error90: #FFDAD6;
  -md-ref-palette-error92: #FFE2DE;
  -md-ref-palette-error94: #FFE9E6;
  -md-ref-palette-error95: #FFEDEA;
  -md-ref-palette-error96: #FFF0EE;
  -md-ref-palette-error98: #FFF8F7;
  -md-ref-palette-error99: #FFFBFF;
  -md-ref-palette-error100: #FFFFFF;
  -md-ref-palette-neutral0: #000000;
  -md-ref-palette-neutral4: #0F0D13;
  -md-ref-palette-neutral5: #121015;
  -md-ref-palette-neutral6: #141218;
  -md-ref-palette-neutral10: #1D1B20;
  -md-ref-palette-neutral12: #211F24;
  -md-ref-palette-neutral15: #27252B;
  -md-ref-palette-neutral17: #2B292F;
  -md-ref-palette-neutral20: #322F35;
  -md-ref-palette-neutral24: #3B383E;
  -md-ref-palette-neutral25: #3D3A41;
  -md-ref-palette-neutral30: #48464C;
  -md-ref-palette-neutral35: #545158;
  -md-ref-palette-neutral40: #605D64;
  -md-ref-palette-neutral50: #79767D;
  -md-ref-palette-neutral60: #938F96;
  -md-ref-palette-neutral70: #AEA9B1;
  -md-ref-palette-neutral80: #CAC5CC;
  -md-ref-palette-neutral87: #DED8E0;
  -md-ref-palette-neutral90: #E6E0E9;
  -md-ref-palette-neutral92: #ECE6EE;
  -md-ref-palette-neutral94: #F2ECF4;
  -md-ref-palette-neutral95: #F5EFF7;
  -md-ref-palette-neutral96: #F8F2FA;
  -md-ref-palette-neutral98: #FDF7FF;
  -md-ref-palette-neutral99: #FFFBFF;
  -md-ref-palette-neutral100: #FFFFFF;
  -md-ref-palette-neutral-variant0: #000000;
  -md-ref-palette-neutral-variant4: #0F0D14;
  -md-ref-palette-neutral-variant5: #121017;
  -md-ref-palette-neutral-variant6: #14121A;
  -md-ref-palette-neutral-variant10: #1D1A22;
  -md-ref-palette-neutral-variant12: #211E26;
  -md-ref-palette-neutral-variant15: #27242D;
  -md-ref-palette-neutral-variant17: #2B2931;
  -md-ref-palette-neutral-variant20: #322F38;
  -md-ref-palette-neutral-variant24: #3B3840;
  -md-ref-palette-neutral-variant25: #3D3A43;
  -md-ref-palette-neutral-variant30: #49454E;
  -md-ref-palette-neutral-variant35: #54515A;
  -md-ref-palette-neutral-variant40: #615D66;
  -md-ref-palette-neutral-variant50: #7A757F;
  -md-ref-palette-neutral-variant60: #948F99;
  -md-ref-palette-neutral-variant70: #AFA9B4;
  -md-ref-palette-neutral-variant80: #CAC4CF;
  -md-ref-palette-neutral-variant87: #DED8E3;
  -md-ref-palette-neutral-variant90: #E7E0EB;
  -md-ref-palette-neutral-variant92: #ECE6F1;
  -md-ref-palette-neutral-variant94: #F2EBF7;
  -md-ref-palette-neutral-variant95: #F5EEFA;
  -md-ref-palette-neutral-variant96: #F8F1FD;
  -md-ref-palette-neutral-variant98: #FDF7FF;
  -md-ref-palette-neutral-variant99: #FFFBFF;
  -md-ref-palette-neutral-variant100: #FFFFFF;
  /*! Scheme */
  -md-sys-color-primary: #65558F;
  -md-sys-color-primary-container: #E9DDFF;
  -md-sys-color-on-primary: #FFFFFF;
  -md-sys-color-on-primary-container: #201047;
  -md-sys-color-inverse-primary: #CFBDFE;
  -md-sys-color-secondary: #625B71;
  -md-sys-color-secondary-container: #E8DEF8;
  -md-sys-color-on-secondary: #FFFFFF;
  -md-sys-color-on-secondary-container: #1E192B;
  -md-sys-color-tertiary: #7E5260;
  -md-sys-color-tertiary-container: #FFD9E3;
  -md-sys-color-on-tertiary: #FFFFFF;
  -md-sys-color-on-tertiary-container: #31101D;
  -md-sys-color-error: #BA1A1A;
  -md-sys-color-error-container: #FFDAD6;
  -md-sys-color-on-error: #FFFFFF;
  -md-sys-color-on-error-container: #410002;
  -md-sys-color-surface: #FDF7FF;
  -md-sys-color-surface-dim: #DED8E0;
  -md-sys-color-surface-bright: #FDF7FF;
  -md-sys-color-surface-container-lowest: #FFFFFF;
  -md-sys-color-surface-container-low: #F8F2FA;
  -md-sys-color-surface-container: #F2ECF4;
  -md-sys-color-surface-container-high: #ECE6EE;
  -md-sys-color-surface-container-highest: #E6E0E9;
  -md-sys-color-surface-variant: #E7E0EB;
  -md-sys-color-on-surface: #1D1B20;
  -md-sys-color-on-surface-variant: #49454E;
  -md-sys-color-inverse-surface: #322F35;
  -md-sys-color-inverse-on-surface: #F5EFF7;
  -md-sys-color-surface-tint: #65558F;
  -md-sys-color-background: #FDF7FF;
  -md-sys-color-on-background: #1D1B20;
  -md-sys-color-outline: #7A757F;
  -md-sys-color-outline-variant: #CAC4CF;
  -md-sys-color-shadow: #000000;
  -md-sys-color-scrim: #000000
}
/*!***************************************************************************************************
 * Surfaces (a.k.a fancy backgrounds)
 ****************************************************************************************************/
.surface {
  -mfx-hover-opacity: 8%;
  -mfx-focus-opacity: 10%;
  -mfx-press-opacity: 10%
}
/*!***************************************************************************************************
 * Buttons Shared Styles
 ****************************************************************************************************/
.mfx-button {
  -fx-font-family: "Roboto Medium";
  -fx-font-weight: 500;
  -fx-font-size: 14px;
  -fx-alignment: CENTER;
  -fx-background-radius: 20px;
  -fx-padding: 0px 24px 0px 24px;
  -fx-graphic-text-gap: 8px
}

.mfx-button > .label > .mfx-font-icon {
  -mfx-size: 18px
}

.mfx-button > .surface > .bg {
  -fx-background-radius: 20px
}

.mfx-button:with-icon-left {
  -fx-padding: 0px 24px 0px 16px
}

.mfx-button:with-icon-right {
  -fx-padding: 0px 16px 0px 24px
}

.mfx-button.elevated:disabled,
.mfx-button.filled-tonal:disabled,
.mfx-button.filled:disabled,
.mfx-button.outlined:disabled,
.mfx-button.text:disabled {
  -fx-background-color: rgba(29, 27, 32, 0.12);
  -fx-text-fill: #1D1B20
}

.mfx-button:disabled > .label {
  -fx-opacity: 38%
}

.mfx-button:disabled > .label > .mfx-font-icon {
  -mfx-color: #1D1B20
}

.mfx-button:disabled > .surface {
  -mfx-elevation: LEVEL0
}
/*!***************************************************************************************************
 * Elevated Buttons
 ****************************************************************************************************/
.mfx-button.elevated {
  -fx-background-color: #F8F2FA;
  -fx-text-fill: #65558F
}

.mfx-button.elevated > .label > .mfx-font-icon {
  -mfx-color: #65558F
}

.mfx-button.elevated > .surface {
  -mfx-elevation: LEVEL1
}

.mfx-button.elevated > .surface > .bg {
  -fx-background-color: #65558F
}

.mfx-button.elevated > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(101, 85, 143, 0.1)
}

.mfx-button.elevated:hover > .surface {
  -mfx-elevation: LEVEL2
}
/*!***************************************************************************************************
 * Filled Buttons
 ****************************************************************************************************/
.mfx-button.filled {
  -fx-background-color: #65558F;
  -fx-text-fill: #FFFFFF
}

.mfx-button.filled > .label > .mfx-font-icon {
  -mfx-color: #FFFFFF
}

.mfx-button.filled > .surface {
  -mfx-elevation: LEVEL0
}

.mfx-button.filled > .surface > .bg {
  -fx-background-color: #FFFFFF
}

.mfx-button.filled > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(255, 255, 255, 0.1)
}

.mfx-button.filled:hover > .surface {
  -mfx-elevation: LEVEL1
}
/*!***************************************************************************************************
 * Filled Tonal Buttons
 ****************************************************************************************************/
.mfx-button.filled-tonal {
  -fx-background-color: #E8DEF8;
  -fx-text-fill: #1E192B
}

.mfx-button.filled-tonal > .label > .mfx-font-icon {
  -mfx-color: #1E192B
}

.mfx-button.filled-tonal > .surface {
  -mfx-elevation: LEVEL0
}

.mfx-button.filled-tonal > .surface > .bg {
  -fx-background-color: #1E192B
}

.mfx-button.filled-tonal > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(30, 25, 43, 0.1)
}

.mfx-button.filled-tonal:hover > .surface {
  -mfx-elevation: LEVEL1
}
/*!***************************************************************************************************
 * Outlined Buttons
 ****************************************************************************************************/
.mfx-button.outlined {
  -fx-background-color: transparent;
  -fx-border-color: #7A757F;
  -fx-border-radius: 20px;
  -fx-border-width: 1px;
  -fx-text-fill: #65558F
}

.mfx-button.outlined > .label > .mfx-font-icon {
  -mfx-color: #65558F
}

.mfx-button.outlined > .surface > .bg {
  -fx-background-color: #65558F
}

.mfx-button.outlined > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(101, 85, 143, 0.1)
}

.mfx-button.outlined:focused {
  -fx-border-color: #65558F
}

.mfx-button.outlined:disabled {
  -fx-background-color: transparent;
  -fx-border-color: rgba(122, 117, 127, 0.38)
}

.mfx-button.text {
  -fx-background-color: transparent;
  -fx-text-fill: #65558F;
  -fx-padding: 0px 12px 0px 12px
}

.mfx-button.text > .label > .mfx-font-icon {
  -mfx-color: #65558F
}

.mfx-button.text > .surface > .bg {
  -fx-background-color: #65558F
}

.mfx-button.text > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(101, 85, 143, 0.1)
}

.mfx-button.text:with-icon-left {
  -fx-padding: 0px 16px 0px 12px
}

.mfx-button.text:with-icon-right {
  -fx-padding: 0px 12px 0px 16px
}

.mfx-button.text:disabled {
  -fx-background-color: transparent
}
/*!***************************************************************************************************
 * Checkboxes
 ****************************************************************************************************/
.mfx-checkbox {
  -fx-font-family: "Roboto Medium";
  -fx-font-weight: 500;
  -fx-font-size: 14px;
  -fx-text-fill: #1D1B20
}

.mfx-checkbox > .mfx-icon-wrapper {
  -fx-background-radius: 2px;
  -fx-border-radius: 2px;
  -fx-border-width: 2px;
  -mfx-size: 18px;
  -mfx-animation-preset: CLIP;
  -fx-border-color: #49454E
}

.mfx-checkbox > .mfx-icon-wrapper > .mfx-font-icon {
  -mfx-size: 12px;
  visibility: hidden
}

.mfx-checkbox > .surface {
  -fx-pref-width: 40px;
  -fx-pref-height: 40px
}

.mfx-checkbox > .surface > .bg {
  -fx-background-radius: 999px;
  -fx-background-color: #65558F
}

.mfx-checkbox > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(101, 85, 143, 0.1)
}

.mfx-checkbox:indeterminate > .mfx-icon-wrapper {
  -fx-border-width: 0px;
  -fx-background-color: #65558F
}

.mfx-checkbox:selected > .mfx-icon-wrapper {
  -fx-border-width: 0px;
  -fx-background-color: #65558F
}

.mfx-checkbox:indeterminate > .mfx-icon-wrapper > .mfx-font-icon,
.mfx-checkbox:selected > .mfx-icon-wrapper > .mfx-font-icon {
  visibility: visible;
  -mfx-color: #FFFFFF
}

.mfx-checkbox:error > .mfx-icon-wrapper {
  -fx-border-color: #BA1A1A
}

.mfx-checkbox:error > .surface > .bg {
  -fx-background-color: #BA1A1A
}

.mfx-checkbox:error > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(186, 26, 26, 0.1)
}

.mfx-checkbox:indeterminate:error > .mfx-icon-wrapper,
.mfx-checkbox:selected:error > .mfx-icon-wrapper {
  -fx-background-color: #BA1A1A
}

.mfx-checkbox:selected:error > .mfx-icon-wrapper > .mfx-font-icon {
  -mfx-color: #FFFFFF
}

.mfx-checkbox:disabled > .mfx-icon-wrapper {
  -fx-border-color: rgba(29, 27, 32, 0.38);
  -fx-background-color: transparent
}

.mfx-checkbox:indeterminate:disabled > .mfx-icon-wrapper,
.mfx-checkbox:selected:disabled > .mfx-icon-wrapper {
  -fx-background-color: rgba(29, 27, 32, 0.38)
}
/*!***************************************************************************************************
 * FABs Shared Properties
 ****************************************************************************************************/
.mfx-button.fab,
.mfx-button.fab:extended {
  -fx-font-family: "Roboto Medium";
  -fx-font-weight: 500;
  -fx-font-size: 14px;
  -fx-background-radius: 16px;
  -fx-graphic-text-gap: 8px;
  -fx-padding: 16px
}

.mfx-button.fab > .label > .mfx-font-icon,
.mfx-button.fab:extended > .label > .mfx-font-icon {
  -mfx-size: 24px
}

.mfx-button.fab > .surface,
.mfx-button.fab:extended > .surface {
  -mfx-elevation: LEVEL3
}

.mfx-button.fab > .surface > .bg,
.mfx-button.fab:extended > .surface > .bg {
  -fx-background-radius: 16px
}

.mfx-button.fab:extended:hover > .surface,
.mfx-button.fab:hover > .surface {
  -mfx-elevation: LEVEL4
}

.mfx-button.fab:disabled > .label,
.mfx-button.fab:extended:disabled > .label {
  -fx-opacity: 1
}

.mfx-button.fab.small {
  -fx-background-radius: 12px;
  -fx-padding: 0px
}

.mfx-button.fab.small > .surface > .bg {
  -fx-background-radius: 12px
}

.mfx-button.fab.large {
  -fx-background-radius: 28px
}

.mfx-button.fab.large > .label > .mfx-font-icon {
  -mfx-size: 36px
}

.mfx-button.fab.large > .surface > .bg {
  -fx-background-radius: 28px
}

.mfx-button.fab.lowered > .surface,
.mfx-button.fab.lowered:extended > .surface {
  -mfx-elevation: LEVEL1
}

.mfx-button.fab.lowered:extended:hover > .surface,
.mfx-button.fab.lowered:hover > .surface {
  -mfx-elevation: LEVEL2
}
/*!***************************************************************************************************
 * Primary FABs
 ****************************************************************************************************/
.mfx-button.fab {
  -fx-background-color: #E9DDFF;
  -fx-text-fill: #201047
}

.mfx-button.fab > .label > .mfx-font-icon {
  -mfx-color: #201047
}

.mfx-button.fab > .surface > .bg {
  -fx-background-color: #201047
}

.mfx-button.fab > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(32, 16, 71, 0.1)
}
/*!***************************************************************************************************
 * Secondary FABs
 ****************************************************************************************************/
.mfx-button.fab.secondary {
  -fx-background-color: #E8DEF8;
  -fx-text-fill: #1E192B
}

.mfx-button.fab.secondary > .label > .mfx-font-icon {
  -mfx-color: #1E192B
}

.mfx-button.fab.secondary > .surface > .bg {
  -fx-background-color: #1E192B
}

.mfx-button.fab.secondary > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(30, 25, 43, 0.1)
}
/*!***************************************************************************************************
 * Tertiary FABs
 ****************************************************************************************************/
.mfx-button.fab.tertiary {
  -fx-background-color: #FFD9E3;
  -fx-text-fill: #31101D
}

.mfx-button.fab.tertiary > .label > .mfx-font-icon {
  -mfx-color: #31101D
}

.mfx-button.fab.tertiary > .surface > .bg {
  -fx-background-color: #31101D
}

.mfx-button.fab.tertiary > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(49, 16, 29, 0.1)
}
/*!***************************************************************************************************
 * Surface FABs
 ****************************************************************************************************/
.mfx-button.fab.surface {
  -fx-background-color: #ECE6EE;
  -fx-text-fill: #65558F
}

.mfx-button.fab.surface > .label > .mfx-font-icon {
  -mfx-color: #65558F
}

.mfx-button.fab.surface > .surface > .bg {
  -fx-background-color: #65558F
}

.mfx-button.fab.surface > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(101, 85, 143, 0.1)
}

.mfx-button.fab.surface.lowered {
  -fx-background-color: #F8F2FA;
  -fx-text-fill: #65558F
}
/*!**************************************************************************************************
 * IconButtons Shared Properties
 ****************************************************************************************************/
.mfx-icon-button,
.mfx-icon-button.filled,
.mfx-icon-button.filled-tonal,
.mfx-icon-button.outlined {
  -fx-background-radius: 999px;
  -mfx-size: 40px;
  -fx-padding: 4px
}

.mfx-icon-button > .mfx-icon-wrapper > .mfx-font-icon,
.mfx-icon-button.filled > .mfx-icon-wrapper > .mfx-font-icon,
.mfx-icon-button.filled-tonal > .mfx-icon-wrapper > .mfx-font-icon,
.mfx-icon-button.outlined > .mfx-icon-wrapper > .mfx-font-icon {
  -mfx-size: 24px
}

.mfx-icon-button > .surface > .bg,
.mfx-icon-button.filled > .surface > .bg,
.mfx-icon-button.filled-tonal > .surface > .bg,
.mfx-icon-button.outlined > .surface > .bg {
  -fx-background-radius: 999px
}

.mfx-icon-button.filled-tonal:disabled,
.mfx-icon-button.filled:disabled,
.mfx-icon-button.outlined:disabled,
.mfx-icon-button:disabled {
  -fx-background-color: rgba(29, 27, 32, 0.12)
}

.mfx-icon-button.filled-tonal:disabled > .mfx-icon-wrapper > .mfx-font-icon,
.mfx-icon-button.filled:disabled > .mfx-icon-wrapper > .mfx-font-icon,
.mfx-icon-button.outlined:disabled > .mfx-icon-wrapper > .mfx-font-icon,
.mfx-icon-button:disabled > .mfx-icon-wrapper > .mfx-font-icon {
  -mfx-color: #1D1B20;
  -fx-opacity: 38%
}
/*!***************************************************************************************************
 * Standard IconButtons
 ****************************************************************************************************/
.mfx-icon-button {
  -fx-background-color: transparent
}

.mfx-icon-button > .mfx-icon-wrapper > .mfx-font-icon {
  -mfx-color: #49454E
}

.mfx-icon-button > .surface > .bg {
  -fx-background-color: #49454E
}

.mfx-icon-button > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(73, 69, 78, 0.1)
}

.mfx-icon-button:selectable:selected {
  -fx-background-color: transparent
}

.mfx-icon-button:selectable:selected > .mfx-icon-wrapper > .mfx-font-icon {
  -mfx-color: #65558F
}

.mfx-icon-button:selectable:selected > .surface > .bg {
  -fx-background-color: #65558F
}

.mfx-icon-button:disabled {
  -fx-background-color: transparent
}

.mfx-icon-button:disabled > .mfx-icon-wrapper > .mfx-font-icon {
  -mfx-color: #1D1B20
}
/*!***************************************************************************************************
 * Filled IconButtons
 ****************************************************************************************************/
.mfx-icon-button.filled,
.mfx-icon-button.filled:selectable:selected {
  -fx-background-color: #65558F
}

.mfx-icon-button.filled > .mfx-icon-wrapper > .mfx-font-icon,
.mfx-icon-button.filled:selectable:selected > .mfx-icon-wrapper > .mfx-font-icon {
  -mfx-color: #FFFFFF
}

.mfx-icon-button.filled > .surface > .bg,
.mfx-icon-button.filled:selectable:selected > .surface > .bg {
  -fx-background-color: #FFFFFF
}

.mfx-icon-button.filled > .surface > .mfx-ripple-generator,
.mfx-icon-button.filled:selectable:selected > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(255, 255, 255, 0.1)
}

.mfx-icon-button.filled:selectable {
  -fx-background-color: #E6E0E9
}

.mfx-icon-button.filled:selectable > .mfx-icon-wrapper > .mfx-font-icon {
  -mfx-color: #65558F
}

.mfx-icon-button.filled:selectable > .surface > .bg {
  -fx-background-color: #65558F
}
/*!***************************************************************************************************
 * Filled Tonal IconButtons
 ****************************************************************************************************/
.mfx-icon-button.filled-tonal,
.mfx-icon-button.filled-tonal:selectable:selected {
  -fx-background-color: #E8DEF8
}

.mfx-icon-button.filled-tonal > .mfx-icon-wrapper > .mfx-font-icon,
.mfx-icon-button.filled-tonal:selectable:selected > .mfx-icon-wrapper > .mfx-font-icon {
  -mfx-color: #1E192B
}

.mfx-icon-button.filled-tonal > .surface > .bg,
.mfx-icon-button.filled-tonal:selectable:selected > .surface > .bg {
  -fx-background-color: #1E192B
}

.mfx-icon-button.filled-tonal > .surface > .mfx-ripple-generator,
.mfx-icon-button.filled-tonal:selectable:selected > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(73, 69, 78, 0.1)
}

.mfx-icon-button.filled-tonal:selectable {
  -fx-background-color: #E6E0E9
}

.mfx-icon-button.filled-tonal:selectable > .mfx-icon-wrapper > .mfx-font-icon {
  -mfx-color: #49454E
}

.mfx-icon-button.filled-tonal:selectable > .surface > .bg {
  -fx-background-color: #49454E
}
/*!***************************************************************************************************
 * Outlined IconButtons
 ****************************************************************************************************/
.mfx-icon-button.outlined {
  -fx-background-color: transparent;
  -fx-border-color: #7A757F;
  -fx-border-radius: 999px
}

.mfx-icon-button.outlined > .mfx-icon-wrapper > .mfx-font-icon {
  -mfx-color: #49454E
}

.mfx-icon-button.outlined > .surface > .bg {
  -fx-background-color: #49454E
}

.mfx-icon-button.outlined > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(73, 69, 78, 0.1)
}

.mfx-icon-button.outlined:selectable:selected {
  -fx-background-color: #322F35;
  -fx-border-color: transparent
}

.mfx-icon-button.outlined:selectable:selected > .mfx-icon-wrapper > .mfx-font-icon {
  -mfx-color: #F5EFF7
}

.mfx-icon-button.outlined:selectable:selected > .surface > .bg {
  -fx-background-color: #F5EFF7
}
/*!***************************************************************************************************
 * Circular Progress Indicators
 ****************************************************************************************************/
.mfx-progress-indicator > .container > .arc {
  -fx-stroke-line-cap: ROUND;
  -fx-stroke-line-join: ROUND;
  -fx-stroke-type: CENTERED;
  -fx-stroke-width: 4px;
  -fx-fill: transparent;
  -fx-stroke: #65558F
}

.mfx-progress-indicator > .container > .arc.track {
  -fx-stroke: #E8DEF8
}

.mfx-progress-indicator:indeterminate > .container > .arc.left {
  -fx-stroke: #65558F
}
/*!***************************************************************************************************
 * Linear Progress Indicators
 ****************************************************************************************************/
.mfx-progress-indicator > .bar,
.mfx-progress-indicator > .stop {
  -fx-background-radius: 4px;
  -fx-background-color: #65558F
}

.mfx-progress-indicator > .segment {
  -fx-background-radius: 4px;
  -fx-background-color: #E8DEF8
}
/*!***************************************************************************************************
 * Segmented Buttons
 ****************************************************************************************************/
.mfx-segmented-button > .segment {
  -fx-font-family: "Roboto Medium";
  -fx-font-weight: 500;
  -fx-font-size: 14px;
  -fx-border-insets: -1px;
  -fx-graphic-text-gap: 8px;
  -fx-padding: 4px 12px 4px 12px;
  -fx-border-color: #7A757F;
  -fx-background-color: transparent;
  -fx-text-fill: #1D1B20
}

.mfx-segmented-button > .segment > .label > .mfx-font-icon {
  -mfx-color: #1D1B20
}

.mfx-segmented-button > .segment > .surface > .bg {
  -fx-background-color: #1D1B20
}

.mfx-segmented-button > .segment > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(29, 27, 32, 0.1)
}

.mfx-segmented-button > .segment:first {
  -fx-border-radius: 999px 0px 0px 999px;
  -fx-background-radius: 999px 0px 0px 999px
}

.mfx-segmented-button > .segment:first > .surface > .bg {
  -fx-background-radius: 999px 0px 0px 999px
}

.mfx-segmented-button > .segment:last {
  -fx-border-radius: 0px 999px 999px 0px;
  -fx-background-radius: 0px 999px 999px 0px
}

.mfx-segmented-button > .segment:last > .surface > .bg {
  -fx-background-radius: 0px 999px 999px 0px
}

.mfx-segmented-button > .segment:selected {
  -fx-background-color: #E8DEF8;
  -fx-text-fill: #1E192B
}

.mfx-segmented-button > .segment:selected > .label > .mfx-font-icon {
  -mfx-description: "fas-check";
  -mfx-color: #1E192B
}

.mfx-segmented-button > .segment:selected > .surface > .bg {
  -fx-background-color: #1E192B
}

.mfx-segmented-button > .segment:disabled {
  -fx-border-color: rgba(122, 117, 127, 0.12);
  -fx-text-fill: rgba(29, 27, 32, 0.38)
}

.mfx-segmented-button > .segment:disabled > .label {
  -fx-opacity: 1
}

.mfx-segmented-button > .segment:disabled > .label > .mfx-font-icon {
  -mfx-color: rgba(29, 27, 32, 0.38)
}

.mfx-segmented-button > .segment:selected:disabled {
  -fx-text-fill: rgba(30, 25, 43, 0.38)
}

.mfx-segmented-button > .segment:selected:disabled > .label > .mfx-font-icon {
  -mfx-color: rgba(30, 25, 43, 0.38)
}

.mfx-popup .content,
.mfx-tooltip .content {
  -mfx-offset: "8 8"
}

.mfx-popup .content > .plain,
.mfx-tooltip .content > .plain {
  -fx-min-height: 24px;
  -fx-padding: 8px;
  -fx-background-color: #322F35;
  -fx-background-radius: 4px
}

.mfx-popup .content > .plain > .label,
.mfx-tooltip .content > .plain > .label {
  -fx-font-family: "Roboto";
  -fx-font-weight: 400;
  -fx-font-size: 12px;
  -fx-wrap-text: true;
  -fx-wrapping-width: 200px;
  -fx-text-fill: #F5EFF7
}

.mfx-popup .content > .rich,
.mfx-tooltip .content > .rich {
  -fx-padding: 12px 16px 8px 16px;
  -fx-spacing: 8px;
  -mfx-elevation: LEVEL2;
  -fx-background-color: #F2ECF4;
  -fx-background-radius: 12px
}

.mfx-popup .content > .rich > .header,
.mfx-tooltip .content > .rich > .header {
  -fx-font-family: "Roboto Medium";
  -fx-font-weight: 500;
  -fx-font-size: 14px;
  -fx-text-fill: #49454E
}

.mfx-popup .content > .rich > .label,
.mfx-tooltip .content > .rich > .label {
  -fx-font-family: "Roboto";
  -fx-font-weight: 400;
  -fx-font-size: 14px;
  -fx-wrapping-width: 300px;
  -fx-text-fill: #49454E
}

.mfx-popup .content > .rich > .actions,
.mfx-tooltip .content > .rich > .actions {
  -fx-padding: 8px 0px 0px 0px;
  -fx-spacing: 8px
}